
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Time and Price</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>add-price-and-time works!</p>
        <!-- Form for adding data  -->

        <form class="row align-items-center" #form="ngForm">
            <div class="col-auto">
              <label class="form-label" for="MovieName">Movie Name</label>
              <input type="text" class="form-control" id="MovieName" name="movieName" [value]="movieIdData.name"
                [(ngModel)]="movieIdData.name" disabled />
            </div>

            <!-- <div class="col-auto">
                <label for="inputPlace" class="form-label">Places on movie available</label>
                <select id="inputPlace" class="form-select" required name="placesAvailable" [(ngModel)]="taskEditData.priority">
                  <option selected>low</option>
                  <option>medium</option>
                  <option>high</option>
                </select>
              </div> -->

            <!-- <div class="col-auto">
              <label class="form-label" for="taskNameInput">Task Name</label>
              <input type="text" class="form-control" id="taskNameInput" placeholder="eg: 2 km walk" name="name"
                [(ngModel)]="taskEditData.name" required />
            </div>
            <div class="col-auto">
              <label class="form-label" for="taskDesInput">Task Description</label>
              <textarea class="form-control" id="taskDesInput" placeholder="eg: 2 km walk area name" name="description"
                [(ngModel)]="taskEditData.description"></textarea>
            </div> -->
            
    
            <!-- <div class="col-auto">
              <label for="taskGroup" class="form-label">Task Group</label>
              <select id="taskGroup" name="group" class="form-control" [(ngModel)]="taskEditData.group"
                (change)="otherSelected($event)" required>
                <option value="learning">Learning</option>
                <option value="gym">Gym</option>
                <option value="office work">Office Work</option>
                <option value="home work">Home Work</option>
                <option value="friends meet">Friends Meet</option>
                <option [value]="taskEditData.group">{{ taskEditData.group }}</option>
                <option value="others">Others</option>
              </select>
            </div> -->

    
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
