<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Add Time and Price</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>add-price-and-time works!</p>
      <!-- Form for adding data  -->

      <form class="row align-items-center" #form="ngForm">
        <div class="col-auto">
          <label class="form-label" for="MovieName">Movie Name</label>
          <input type="text" class="form-control" id="MovieName" name="movieName" [value]="movieIdData.name"
            [(ngModel)]="priceTimeD.movieID" disabled />
        </div>

        <div class="col-auto">
          <label for="inputPlace" class="form-label">Places on movie available</label>
          <select id="inputPlace" class="form-select" required name="placesAvailable" [(ngModel)]="priceTimeD.placeID" required >
            @for (place of placeListS; track $index) {
            <option [value]="place.id"> {{ place.name }} - {{ place.address }}</option>
            }
          </select>
        </div>

        <div class="col-auto">
          <label class="form-label" for="moviePrice">Price</label>
          <input type="number" class="form-control" id="moviePrice" name="price" [(ngModel)]="priceTimeD.price" required>
        </div>

        <div class="col-auto">
          <label class="form-label" for="movieTime">Price</label>
          <input type="time" class="form-control" id="movieTime" name="time" [(ngModel)]="priceTimeD.time" required >
        </div>

        <div class="col-auto">
          <label class="form-label" for="movieDate">Price</label>
          <input type="date" class="form-control" id="movieDate" name="date" [(ngModel)]="priceTimeD.date" required >
        </div>

      </form>
      {{ priceTimeD | json}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-success" [disabled]="form.invalid" (click)="addPTData()" >ADD</button>
    </div>
  </div>
</div>